/*
    Custom styles para dar estilos a toda la App y sobreescribir los de bootstrap y resto plugins
*/

a {
    text-decoration: none;
}

/* login */
#logodiv {
    height: 125px;
}

#logodiv img {
    max-height: 100%;
    max-width: 100%;
}

#forgotlink {
    cursor: pointer;
}

/* end login */


/*
 menu
*/
body.dark .layout-px-spacing,
.layout-px-spacing {
    min-height: calc(100vh - 155px) !important;
}

.nav-item.theme-logo {
    width: 120px;
}

.nav-item.theme-logo a {
    width: 100%;
}

.nav-item.theme-logo a img {
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
}

#dt-length-0 {
    width: 65px !important;
}

/* end menu */

body.dark .layout-px-spacing,
.layout-px-spacing {
    min-height: calc(100vh - 155px) !important;
}

.nav-item.theme-logo {
    width: 120px;
}

.nav-item.theme-logo a {
    width: 100%;
}

.nav-item.theme-logo a img {
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
}

#dt-length-0 {
    width: 65px !important;
}

.dt-buttons {
    margin-left: 10px;
}

.incidencia{
    border-bottom: 1px solid lightgray;
}

.formulario_pedidos .form-control:disabled,
.proveedor_formulario .form-control:disabled
{
    color: black;
}